body {
    padding: 0;
    margin: 0;
    background: #30343f;
}


header {
    width: 540px;
    margin: 100px auto;
    background: rgb(192, 13, 13);
}


.golpes_section{
    width: 640px;
    margin: 0 auto;
}

.golpes_section h2 {
    text-align: center;
}

.button-game {
    width: 100px;
}

.golpes_section div {
    width: 540px;
    margin: 0 270px;
}